<% include ../partials/header %>

    <div class="container">
            <div class="card mt-5">
                <div class="card-header">
                    <h3>Create a new Dog</h3>
                </div>
                <div class="card-body">
                        <form action="/dogs/<%= dog.id %>?_method=PUT" method="POST">
                            <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="name" name="name" value="<%= dog.name %>">
                            </div>
                            <div class="form-group">
                                    <label for="image">Img Url</label>
                                    <input type="text" class="form-control" id="image" name="image" value="<%= dog.image %>">
                            </div>
                            <div class="form-group">
                                    <label for="image">Description</label>
                                    <textarea class="form-control" id="description" name="description" rows="5"><%= dog.description %></textarea>
                            </div>
                                <button class="btn btn-primary">Submit</button>
                        </form>
                </div>
            </div>
    </div>
<% include ../partials/footer %>